/* AboutUs.css */
.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    color: #3498db;
    font-size: 2.5em;
    margin-bottom: 10px;
  } */
  
  .course-provider-section,
  .inquiry-section {
    margin-bottom: 40px;
  }
  
  /* h2 {
    color: #2ecc71;
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  } */
  
  /* Style for Inquiry Form */
 /* InquiryForm.css */
.inquiry-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .in-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
  }
  
  .subject-inquiry {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .Button-inquiry {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .Button-inquiry:hover {
    background-color: #2980b9;
  }
  
  /* Optional: Add styling for individual input fields */
  .name-inquiry,
  .email-inquiry,
  .subject-inquiry,
  .message-inquiry {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
  }
  



/* nithin code  */

